@import "rem";
@import "styleList";

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;

  background-color: #333;
  font-size: 18px;
  color: #d3d3d3;

  main {
    flex: 1 1 100%;
  }

  .container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
